<div class="container ng-hide" style="max-width: 400px; margin-top: 50px;" ng-show="showLogin">
	<div role="alert" class="alert alert-danger ng-hide" ng-show="loginLoadError">
		{{ loginLoadError }}
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title" style="text-align: center;"><strong>{{ appName }} - Login</strong></h3>
		</div>
		<div class="panel-body">
			<form ng-submit="Login.doLogin();">
				<fieldset>
					<div class="form-group">
						<label for="email">Email: </label>
						<input id="email" type="text" ng-model="email" placeholder="Email" class="form-control" autofocus />
					</div>
					<div class="form-group">
						<label for="password">Password: </label>
						<input id="password" type="password" ng-model="password" placeholder="Password" class="form-control" />
					</div>
					<div role="alert" class="alert alert-danger ng-hide" ng-show="error">
						{{ error }}
					</div>
					<button class="btn btn-primary">Submit</button>
					&nbsp;<a href="javascript:;" ng-click="viewForgot();">Forgot Password?</a>
					&nbsp;|&nbsp;
					&nbsp;<a href="#/register">New user?</a>
				</fieldset>
			</form>
		</div>
	</div>
</div>